@using CalCalc.Web.Shared
@model SignInViewModel
@{
    var nonModelErrors = ViewContext.GetNonModelErrors();
}

@if (nonModelErrors != null && nonModelErrors.Any())
{
    foreach (var error in nonModelErrors)
    {
        <p class="text-danger">
            @error
        </p>
    }
}

<form asp-action="SignIn" method="post">
    <div>
        <label class="form-label">Email</label>
        <input class="form-control" asp-for="Email" type="text"/>
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div>
        <label class="form-label">Password</label>
        <input class="form-control" asp-for="Password" type="password"/>
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <hr/>
    <a href="/sign-up">Don't have a profile? Sign Up.</a>
    <hr/>
    <button class="btn btn-primary" type="submit">Sign In</button>
</form>