@model SignUpViewModel

<form>
    <div>
        <label class="form-label">Email</label>
        <input class="form-control" type="email" />
    </div>
    <div>
        <label class="form-label">Password</label>
        <input class="form-control" type="password"/>
    </div>
    <div>
        <label class="form-label">ConfirmPassword</label>
        <input class="form-control" type="password"/>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>