@using CalCalc.Web.Shared
@model FoodModel
@{
    var createResult = this.ViewData.GetMutationResultOrDefault();
}

@if (createResult != null)
{
    <div class="alert alert-@(createResult.Succeeded ? "success" : "danger")">
        @createResult.Message
    </div>
}

<form method="post" asp-action="Create">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="form-label">Name</label>
                <input class="form-control" asp-for="Name"/>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="form-label">Calories</label>
                <input class="form-control" asp-for="Calories"/>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="form-label">Carbohydrates</label>
                <input class="form-control" asp-for="Carbohydrates"/>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="form-label">Fats</label>
                <input class="form-control" asp-for="Fats"/>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="form-label">Protein</label>
                <input class="form-control" asp-for="Protein"/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>