@model PaginationViewModel
@{
    var isCurrentPageFirst = Model.CurrentPage == 1;
    var isCurrentPageLast = Model.CurrentPage == Model.PagesCount;
}
@if (Model.PagesCount > 1)
{
    <div class="col-sm-12 mt-2">
        <div class="d-flex">
            <div class="ms-auto me-1">
                @if (!isCurrentPageFirst)
                {
                    <a href="@Model.BasePath&p=@(Model.CurrentPage - 1)" class="btn btn-primary">Previous</a>
                }
                else
                {
                    <p class="mb-0 btn btn-dark">Previous</p>
                }
            </div>
            <div class="ms-1 me-auto">
                @if (!isCurrentPageLast)
                {
                    <a href="@Model.BasePath&p=@(Model.CurrentPage + 1)" class="btn btn-primary">Next</a>
                }
                else
                {
                    <p class="mb-0 btn btn-dark">Next</p>
                }
            </div>
        </div>
    </div>
}